@import "tailwindcss";

* {
  cursor: crosshair;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

nav,
nav * {
  cursor: auto !important;
}
