@import "tailwindcss";

@font-face {
  font-family: 'HelveticaNeueLTPro-Bd';
  src: url('/fonts/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
       url('/fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
       url('/fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  cursor: crosshair;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

nav,
nav * {
  cursor: auto !important;
}
